{% extends 'base.html' %}

{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
              integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
              crossorigin="anonymous">
        <title>Homepage</title>
    </head>
    <body id="home-body">
    <div class="homepage-container">
        <h3 id="home-title">Castle Apartments
            <img src=""/>
        </h3>
        <div>
        <form method="get" action="{% url 'property-index' %}">
            <div class="search-container">
                <input type="text" name="search" class="search-box" placeholder="Type to search"/>
                <button type="submit" class="search-btn">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
        </div>
    </div>
    </body>
    </html>


{% endblock %}