{% extends 'base.html' %}

{% block content %}
    <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Show all</button>
        <button class="btn" onclick="filterSelection('v')"> Villa</button>
        <button class="btn" onclick="filterSelection('a')"> Apartment</button>
        <button class="btn" onclick="filterSelection('sh')"> Summer House</button>
        <button class="btn" onclick="filterSelection('h')"> House</button>
        <button class="btn" onclick="filterSelection('l')"> Land</button>
    </div>


    <h3>Properties</h3>
    <div class="search-container">
        <input type="search" class="search-box" placeholder="Enter your search here..."/>
        <div class="input-group btn">
            <button type="button" id="search-btn" class="search-btn">
                <i class="fas fa-search"></i>
            </button>

        </div>
    </div>

    <div class="properties">
        {% for property in properties %}
            {% include 'property/single_property.html' with property=property %}
        {% endfor %}
    </div>
{% endblock %}