{% extends 'base.html' %}

{% block content %}

    <div id="index-content">
    <span class="input-group" id="search-box-prop">
        <input type="text" class="form-control" id="search-box" placeholder="Enter your search here..."/>
        <button type="button" id="search-btn-prop" class="btn btn-default">Search</button>
    </span>


    <form method="get" action="{% url 'filter' %}" class="property-filters">
            <select type="dropdown-menu" name="Bedrooms" id="drop-style" class="bedroom-drop">
                <option class="dropdown-item" disabled selected>Bedrooms</option>
                <option class="dropdown-item" href="#">0</option>
                <option class="dropdown-item" href="#">1</option>
                <option class="dropdown-item" href="#">2</option>
                <option class="dropdown-item" href="#">3</option>
                <option class="dropdown-item" href="#">4</option>
                <option class="dropdown-item" href="#">5</option>
                <option class="dropdown-item" href="#">6</option>
                <option class="dropdown-item" href="#">7</option>
                <option class="dropdown-item" href="#">8</option>
                <option class="dropdown-item" href="#">9</option>
            </select>
            <select type="dropdown-menu" name="Bathrooms" id="drop-style">
                    <option class="dropdown-item" disabled selected>Bathrooms</option>
                    <option class="dropdown-item" href="#">0</option>
                    <option class="dropdown-item" href="#">1</option>
                    <option class="dropdown-item" href="#">2</option>
                    <option class="dropdown-item" href="#">3</option>
                    <option class="dropdown-item" href="#">4</option>
                    <option class="dropdown-item" href="#">5</option>
                    <option class="dropdown-item" href="#">6</option>
                    <option class="dropdown-item" href="#">7</option>
                    <option class="dropdown-item" href="#">8</option>
                    <option class="dropdown-item" href="#">9</option>
                </select>
            <select type="dropdown-menu" name="Property-Type"  id="drop-style">
                <option class="dropdown-item" disabled selected>Property Type</option>
                <option class="dropdown-item" href="#">Villa</option>
                <option class="dropdown-item" href="#">Apartment</option>
                <option class="dropdown-item" href="#">Summerhouse</option>
                <option class="dropdown-item" href="#">House</option>
                <option class="dropdown-item" href="#">Land</option>
            </select>


            <input type="text" name="price" placeholder="Price" id="filter-fill"/>
            <input type="text" name="city" placeholder="City" id="filter-fill"/>
            <input type="text" name="postal_code" placeholder="Postal Code" id="filter-fill"/>
            <input type="text" name="size" placeholder="Size" id="filter-fill"/>
        <button type="submit" id="search-btn-filter" class="btn btn-default">
            Filter
        </button>

        <div class="order-by-div">Order by:<select type="dropdown-menu" name="Order" id="order-by">
                <option class="dropdown-item">Name</option>
                <option class="dropdown-item">Price</option>
        </select>
        </div>
    </form>



    <div class="properties">
        {% for property in properties %}
            {% include 'property/single_property.html' with property=property %}
        {% endfor %}
    </div>
    </div>
{% endblock %}

