{% extends "base.html" %}
{% block content %}
        <div class="head-photo">
                <div class="property-details">
                    <img src="{{ property.propertyimage_set.first.image }}">
                <div class="property-title-container" >
                    <div class="property-title">
                        <h1 class="prop-title">{{ property.streetname }}</h1>
                        <p class="prop-title">{{ property.city}}, {{property.country}}</p>
                        <p class="prop-title">{{ property.description }}</p>
                    </div>
                </div>

                </div>
        </div>


    <div class="newline">
        {% for property_image in property.propertyimage_set.all %}
             <img class="detail-property-img" src="{{ property_image.image }}"/>
        {% endfor %}
    </div>






    <div class="card">
      <div class="seller-card">
        <img class="detail-seller-img" src="{{ property.seller.image }}"></a>
        <div class="card-body">
          <h4 class="card-title">{{ property.seller }}</h4>
        </div>
      </div>
    </div>


{% endblock %}
