{% extends "base.html" %}
{% block content %}
    <h1>{{ property.streetname }}</h1>
    <p id ="address">{{ property.address }}</p>
    <p id="zip">{{ property.postal_code }}</p>
    <div class="description-container">
        <p id="city">{{ property.city }}</p>
        <p id="country">{{ property.country }}</p>
        <p>{{ property.bedrooms }}</p>
        <p>{{ property.bathrooms }}</p>
        <p>{{ property.size }}</p>
        <p>{{ property.price }}kr.</p>
        <p>Type of property: {{ property.propertytype.name }}</p>
        <p>Seller: {{ property.seller.first_name }} {{ property.seller.last_name }}</p>
    </div>
    <div class="property-imgs">
        {% for property_image in property.propertyimage_set.all %}
            <img src="{{ property_image.image }}" class="property-img"/>
        {% endfor %}
    </div>
    <p>{{ property.description }}</p>

    <!--
    GOOGLE MAP FER HÉR UNDIR kv. Zakki
    -->

    <html>
    <head>
        <style>
            /* Set the size of the div element that contains the map */
            #map {
                height: 400px; /* The height is 400 pixels */
                width: 100%; /* The width is the width of the web page */
            }
        </style>
    </head>
    <body>
    <h3>House Address</h3>
    <!--The div element for the map -->
    <div id="map"></div>
   <script>

       function getLong(address,contry,city) {
            $.ajax({
                url: 'https://api.opencagedata.com/geocode/v1/json?q='+address+'%2C+'+city+'%2C+'+contry+'&key=8669b35e6d3e4edeba27bb12320cde0f&pretty=1',
                type: 'GET',
                success: function (resp) {
                    console.log(resp.results[0].geometry)
                    let map = new google.maps.Map(document.getElementById('map'), {
                    center: resp.results[0].geometry,
                    zoom: 15
                    });
                    var marker = new google.maps.Marker({
                          position: resp.results[0].geometry,
                          map: map,
                          title: 'Hello World!'
                        });




                }
            });
        }


      function initMap() {
            let address = $("#address").html()
            let country = $("#country").html()
            let city = $("#city").html()
            getLong(address,country,city)
      }
      // Initialize and add the map
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXcg5h7Xmgq6UjFkCC1JgIWUKs_iqfNU4&callback=initMap">
    </script>

    </body>
    </html>

    <a href="{% url 'delete_property' property.id %}" class="block btn btn-primary" id="deleting">Delete property</a>
    <a href="{% url 'update_property' property.id %}" class="block btn btn-primary" id="updating">Update property</a>
    <a href="{% url 'buy_property' property.id %}" class="block btn btn-primary">Buy property</a>
    <form>
        <input type="button" value="Back" class="btn btn-primary pull-right" style="clear:both; margin: 10px 0"
               onClick="javascript:history.go(-1)"/>
    </form>



{% endblock %}