* {
    box-sizing: border-box;
    font-family: 'Helvetica';
}

.property-img, .seller-img{
    width:  70%;
    height: 70%;
    margin: auto;
    background-repeat:   no-repeat;
    background-size: cover;
}

.property-img {
    opacity: 1;
}

.well{
    height: 300px;
    weight: 300px;
}

.properties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:100%;
    margin-top:20px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    overflow: hidden;
;
}

.sellers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;


}

p {
    font-size: 78%;
}


.create_propery{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    font-weight: bold;
}


.property-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    height: 600px;
}

.description-container{
    float: right
}


