{% extends "base.html" %}
{% block content %}
    <h1 id="title">{{ seller.first_name }} {{ seller.last_name }}</h1>
    <div class="seller-cont">
        <div class="seller-img-div">
            <img src="{{ seller.image }}" class="seller-img-det"/>
        </div>
        <div id="seller-info-div">
            <a href="mailto:{{ seller.email }}?subject=Castle Apartments" id="email" title="{{ seller.email }}">Send email</a>
            <br>
            <a href="{% url 'update_seller' seller.id %}" class="block btn btn-primary" id="edit-profile-btn">Edit Profile</a>
        </div>
    </div>
{% endblock %}