{% extends "base.html" %}
{% block content %}





    <div class="row main">
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" action="#">
                <img id="logolog" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.15752-9/60179630_2444593825774317_4527021789137600512_n.png?_nc_cat=108&_nc_ht=scontent-arn2-1.xx&oh=9867c95c633be7554b495a02761ab572&oe=5D52EF39"/>
                {% csrf_token %}
                {{ form }}

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Sign in</button>
                </div>
                <div class="login-register">
                    <a href="register">Create account</a> or <a href="#">reset password</a>
                 </div>
            </form>
        </div>
    </div>


{% endblock %}

